@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@100;200;300;400;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Bellefair', serif;

}
body {
    background-color: #F2EBE6;
    font-family: 'Bellefair', serif;
}

img {
    width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    /* display: flex; */

}
li {
    width: 150px;
}

a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    color: blue;
    /* text-decoration: line-through; */
}

::-moz-selection { /* Code for Firefox */
    /* color: #0D45BB; */
    background: blue;
  }
  
  ::selection {
    /* color: #0D45BB; */
    background: blue;
  }

/* section {
    margin-bottom: 84px;
} */
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* max-width: 736px; */
    margin-top:0;
    /* padding: 80px 40px; */
    /* border:1px solid #000; */
    width: 100%;
    height: 100%;
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verticalLine {
    /* border-right: 1px solid rgba(255,255,255,.25); */
    /* position: fixed; */
    /* height: 100vh; */
    /* top:0; */
    /* left:264px; */
    /* z-index: 100; */
  }

  svg {
    fill: #000;
  }
  
img {
    
}
#lod {
    /* transform: translate(-64px,250px) rotate(-90deg); */
    /* transform-origin: 60% 100%; */
    width:97px;

}
#menu {
    width:85px;

    /* animation: spin 4000ms infinite linear; */

    /* animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */

}
#star {
    width:19px;
}

#main {
    /* color :#8B4D2B; */
    text-transform: uppercase;
    font-size: 50px;
    width:800px;
    cursor:url(https://www.losobjetosdecorativos.com/wp-content/uploads/2020/06/DSC6246-scaled-400x500.jpg);
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}


.nav {
    position: fixed;
    top:0;
    left:0;
    margin: 0 auto;
    padding: 0 139px;
    width:100%;
    height:200px;
    z-index: 1;
    flex: 3;
    z-index: 100;
}

/* .pannel-right {
    width: 100vw;
    height: 100vh;
    padding: 0px 500px;
} */
.margin-small {
    display: block;
    width: 100%;
    height:20px;
}

.pannel-02 {
    background-color: #D4C0B5;
}

#about img {
    /* border-radius: 40%; */

}
#about {
    width: 100%;
    text-align: center;
}
#img2 {
    position:relative;
    top:190px;
}
#img1, #img2 {
    width:359px;

    z-index: 2;
}
#img3 {
    width: 298px;
}
#typo {
    position: absolute;
    left: 30%;
    top: 400px;
    width: 568px;
    z-index: 0;
    animation: spin 10000ms infinite linear;

}

#text {
    position: absolute;
    top:760px;
    left : 361px;
    width:406px;
    font-size: 25px;
    line-height: 29px;
    z-index: 3;
    text-align: left;
}

#wrap {
    position:relative;
  width:100%;
  /* scroll-behavior:smooth; */
overflow:auto;
/* scroll-snap-type: y mandatory; */

}
#img1 {
    position:relative;
    left: 0;
}
#img2 {
    position: relative;
    left:271;
}

#bar {
    width: 292px;
    animation: seesaw 3000ms infinite linear;

}

.section {
    position: inherit;
    /* display: flex; */
    padding: 306px 215px;
    width: 100vw;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    font-size: 5em;
    scroll-snap-align:start;
  }

  .section:nth-child(3n+1) {
    background: #DCD4D2;
    padding: 300px auto; 
  }
  .section:nth-child(3n+2) {
    background: #2B423C;
    padding: 300px auto;
  }

  .section:nth-child(3n+3) {
    background: #F4F3F1;
    padding: 300px auto;
    width: 4170px;
  }

  #lodabout {
    font-family: 'Bellefair', serif;
      width: 536px;
      text-align: left;
    font-size: 40px;
    line-height: 45px;
    color: #fff;

  }

@media (max-width:768px) {

    .pannel-right {
        margin: 150px 0px;
    }
    .thumb-images img {
        width: 380px;
        text-align: center;
    }
    .thumb-image {
        width: 380px;

    }
    .thumb-images {
        display: inline-block;
    }
    .section-images img {
        /* max-width: 1000px; */
        width: 380px;
        margin-bottom: 100px;
    }
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes seesaw { 
    0% { 
        transform: rotate(-20deg); 
    } 50% { 
        transform: rotate(20deg); 
    }
    100% { 
        transform: rotate(-20deg); 
    }
}